html {
    height: 100%;
}

body {
	background-color: #6de6db;
	height: 100%;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

a {
	color: white;
}

#front_page{
    font-weight: bold;
    font-family: Helvetica, Arial,  sans-serif;
}

#front_page h1{
    color: white;
	font-size: 6em; 
    text-align: center;
}

#front_page h2{
    color: rgb(0, 0, 0);
	font-size: 3em; 
}

#profile_pic {
	height: 450px;
	border: 5px solid #FFF;
	margin-left: 50px;
}


.info a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.info img{
	height: 60px;
	width: 60px;
	margin: 5px;
	filter: brightness(0);
}